body {
    background-color: #b9b9b9;
}

.main-container {
    margin: auto;
    width: 75%;
    background-color: white;
}
.header {
    margin: auto;
    height: 250px;
}

.top-header {
    background-color: #081db5;
    height: 50px;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.dropbtn {
    background-color: #081db5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #081db5;}

.picture {
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-left: 55px;
    z-index: 2;
}

.footer {
    margin: auto;
    height: 50px;
    text-align: center;
}

.footer a {
    margin-left: 10px;
    margin-right: 10px;
}

.article {
    width: 350px;
    height: 450px;
    margin: 40px;
    border: groove;
}

.article-image {
    height: 50%;
}

.article-title {
    margin-left: 15px;
    font-size: 1.5em;
}

.article-decription {
    margin-top: 10px;
    height: 30%;
    margin-left: 15px;
}

.article-category {
    margin-left: 30px;
}

.articles-grid {
    display: flex;
    flex-wrap: wrap;
}